**Data Structure **

In [ ]:
# 01.  Write a code to create a string with your name and print it.
name = "Angaj"
name

'Angaj'

In [ ]:
# 02.Write a code to find the length of the string "Hello World".

p = "Hello world"
len(p)

11

In [ ]:
# 03.Write a code to slice the first 3 characters from the string "Python Programming".
p = "python proframming"
p[0:3]

'pyt'

In [ ]:
# 04. Write a code to convert the string "hello" to uppercase.
print("hellow".upper())

HELLOW

In [ ]:
#05. Write a code to replace the word "apple" with "orange" in the string "I like apple".
fruits = "i like aapple"
fruits.replace("apple", "orange")

'i like aorange'

In [ ]:
#06.Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [ ]:
#07.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [ ]:
#08.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [ ]:
# 09. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [ ]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
"cat" in my_tuple

True

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('orange', 'banana', 'kiwi')
"kiwi" in my_tuple

True

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
set

{'a', 'b', 'c'}

In [ ]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4, 5}
set.remove(4)
set

{1, 2, 3, 5}

In [ ]:
# 19. . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}

union_set = my_set1.union(my_set2)
print("Union of my set", union_set)

Union of my set {1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_s1 = {1, 2, 3}
my_s2 = {2, 3, 4}

my_intersection = my_s1.intersection(my_s2)
print(" Intersection of sets: => ", my_intersection)

 Intersection of sets: =>  {2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"Name": "Angaj", "Age": '14', "City": "panapur langa"}
my_dict

{'Name': 'Angaj', 'Age': '14', 'City': 'panapur langa'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

Dict = {'name': 'John', 'age': 25}
Dict["country"] = "USA"
Dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict1 = {'name': 'Alice', 'age': 30}
my_dict1["name"]

'Alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

Add =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
Add.pop("age")
Add

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
Dict = {'name': 'Alice', 'city': 'Paris'}
"city" in Dict

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [(1, 2, 3), {"name": "angaj"}]
my_list

[(1, 2, 3), {'name': 'angaj'}]

In [ ]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced).

import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()

print("Sorted random numbers:", numbers)

Sorted random numbers: [4, 20, 47, 85, 98]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list2 = ["Angaj", "paswan", "Alok", "Abhishek"]
my_list2[3]

'Abhishek'

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Angaj", "age": 25}
dict2 = {"city": "Delhi", "country": "India"}

dict1.update(dict2)
print("Combined dictionary:", dict1)

Combined dictionary: {'name': 'Angaj', 'age': 25, 'city': 'Delhi', 'country': 'India'}

In [83]:
# 30. Write a code to convert a list of strings into a set
my_list = ["Angaj", "kumar", "alok", "abhishek", "Angaj"]
b = my_list
b = set=(b)
print(b)

['Angaj', 'kumar', 'alok', 'abhishek', 'Angaj']